body {
    font-family: lato;
}

p {
    font-size: 20px;
    font-weight: 400;
    color: #707070;
}

h1 {
    font-size: 70px;
    font-weight: 900;
    color: #1893f8;
    margin-top: 0;
    line-height: 1.2;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #1893f8;
}

.hp1 {
    font-size: 24px;
    font-weight: 400;
    color: #707070;
    margin-bottom: 5px;
}

.hp2 {
    font-size: 28px;
    font-weight: bold;
    color: #959595;
    margin-top: 0;
}

.section-1-h1 {
    margin-bottom: 0px;
}

.section-1-p1 {
    margin-top: 15px;
}

.section-1-sub-grid-p {
    color: #575757;
    font-weight: 400;
    margin-bottom: 0px;
}

.section-2-h1 {
    margin-bottom: 0px;
}

.section-2-p1 {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 15px;
}

.section-2-sub-grid-colum-2-p {
    color: #959595;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 25px;
}

.portfolio-text {
    margin-top: 0;
    background-color: #252525;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #c6c6c6;
}

.fotter-menu {
    display: grid;
}

.fotter-font {
    font-size: 18px;
    color: #959595;
}

hr {
    border: 0;
    height: 1px;
    background-color: #959595;
    margin-top: 20px;
}

.fotter-credits {
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Large Desktop (1920px+) */
@media (min-width: 1920px) {
    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 45px;
    }

    p {
        font-size: 22px;
    }
}

/* Laptop (1024px - 1365px) */
@media (max-width: 1365px) {
    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 18px;
    }

    .hp1 {
        font-size: 22px;
    }

    .hp2 {
        font-size: 26px;
    }

    .section-2-p1 {
        padding-left: 15%;
        padding-right: 15%;
    }
}

/* Tablet (768px - 1023px) */
@media (max-width: 1023px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .hp1 {
        font-size: 20px;
    }

    .hp2 {
        font-size: 24px;
    }

    .section-1-p1,
    .section-2-p1 {
        padding-left: 10%;
        padding-right: 10%;
    }

    .section-2-sub-grid-colum-2-p {
        line-height: 28px;
    }
}

/* Mobile (max-width: 767px) */
@media (max-width: 767px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .hp1 {
        font-size: 18px;
    }

    .hp2 {
        font-size: 22px;
    }

    .section-1-p1,
    .section-2-p1 {
        padding-left: 5%;
        padding-right: 5%;
    }

    .section-2-sub-grid-colum-2-p {
        line-height: 26px;
        text-align: left;
    }

    .fotter-font {
        font-size: 16px;
    }

    .portfolio-text {
        font-size: 14px;
    }
}

/* Small Mobile (max-width: 480px) */
@media (max-width: 480px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .hp1 {
        font-size: 16px;
    }

    .hp2 {
        font-size: 20px;
    }

    .contact-inputs {
        font-size: 14px;
    }

    .fotter-font {
        font-size: 14px;
    }

    .fotter-credits {
        font-size: 12px;
    }
}