body {
    font-family: lato;

}

p {
    font-size: 20px;
    font-weight: 400;
    color: #707070;
}

h1 {
    font-size: 70px;
    font-weight: 900;
    color: #1893f8;
    margin-top: 0;

}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: white;

}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #1893f8;
}

.hp1 {
    font-size: 24px;
    font-weight: 400;
    color: #707070;
    margin-bottom: 5px;
}

.hp2 {
    font-size: 28px;
    font-weight: bold;
    color: #959595;
    margin-top: 0;

}

.section-1-h1 {
    margin-bottom: 0px;
}

.section-1-p1 {
    margin-top: 15px;
}

.section-1-sub-grid-p {
    color: #575757;
    font-weight: 400;
    margin-bottom: 0px;
}

.section-2-h1 {
    margin-bottom: 0px;
}

.section-2-p1 {
    padding-left: 500px;
    padding-right: 500px;
}

.section-2-sub-grid-colum-2-p {
    color: #959595;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 25px;
}

.portfolio-text {
    margin-top: 0;
    background-color: #252525;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #c6c6c6;
}

.fotter-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-left: 600px;
    padding-right: 600px; 
}

.fotter-font {
    font-size: 18px;
    color: #959595;
}

hr {
    border: 0;
    height: 1px;
    background-color: #959595;
    margin-top: 20px;
}

.fotter-credits {
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}